name: Publish

on:
  push:
    branches:
      - master

jobs:
  test-matrix:
    uses: ./.github/workflows/test.yaml

  publish:
    needs: test-matrix
    environment: publishing
    permissions:
      id-token: write
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm --global install npm@latest
      - run: npm --version
      - run: npm ci
      - run: npm audit signatures
      - run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
